.as-sortable-item, .as-sortable-placeholder {
  display: table-row !important;
}

.small-page {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 20px;
}

.options {
  margin-bottom: 30px;
}

ul.styleless {
  list-style: none;
  padding: 0;
}

.post-author {
  padding: 10px 0;
}

.image-wrapper {
  $max-box-height: 300px;

  overflow: hidden;
  text-align: center;
  height: $max-box-height;

  > img {
    max-height: $max-box-height;
  }
}

.description {
  height: 90px;
}

