.md-whiteframe-z3 {
  padding: 20px;
  margin: 10px;
}

md-list-item {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

md-list-item-text {
  padding-left: 30px;
}

md-content {
   max-width: 800px;
   margin: auto;
}
