<!DOCTYPE html>
<html ng-app="Hashtag">
<head>
  <title>Hashtag</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <link rel="stylesheet" href="/public/dist/app.css"/>

  <script type="text/javascript">
    var HOST = "http://localhost:8080";
    if (location.href.indexOf("staging-api-getunseen.appspot.com") != -1) {
        HOST = "https://hobo-dot-staging-api-getunseen.appspot.com"
    } else if(location.href.indexOf("api-getunseen.appspot.com") != -1) {
        HOST = "https://hobo-dot-api-getunseen.appspot.com"
    }
  </script>

  <script type="text/javascript" src="/_ah/channel/jsapi"></script>

  <script type="text/javascript" src="/public/dist/app_libs.js"></script>
  <script type="text/javascript" src="/public/dist/app.js"></script>
  <script type="text/javascript" src="/public/dist/app_views.js"></script>
</head>
<body>

  <header class="navbar navbar-default">
    <a href="/" class="navbar-brand">Hashtag</a>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="posts">Posts</a>
        </li>
        <li ng-if="currentAccount.isAdmin()">
          <a ui-sref="accounts_new">Accounts</a>
        </li>
        <li ng-if="currentAccount.isAdmin()">
          <a ui-sref="trendings">Trendings</a>
        </li>
      </ul>
    </div>
  </header>

  <div flash-message="5000"></div>

  <main ui-view="body"></main>
</body>
</html>
